.container {
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    rotate: 45deg;
    margin: 20px 5px;
    margin-top: 15%;
}

.dot {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    margin: 5%;
    animation: move 2s infinite;
}

.dot1{
    background-color: #19A68C;
    animation-delay: 1s;
}

.dot2{
    background-color: #F63D3A;
    animation-delay: 1.5s;
}

.dot3{
    background-color: #FDA543;
    animation-delay: 2s;
}

.dot4{
    background-color: #193B48;
    animation-delay: 2.5s;
}

@keyframes move {
    0% {
        transform: translate(0, -110%);
    }
    25% {
        transform: translate(110%, 0);
    }
    50% {
        transform: translate(0, 110%);
    }
    75% {
        transform: translate(-110%, 0%);
    }
    100% {
        transform: translate(0, -110%);
    }
}